<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPLOYEE PROMOTION PREDICTION</title>
</head>
<body>
    <h1>EMPLOYEE PROMOTION PREDICTION</h1>
    <h2>USING GRADIENTBOOSTINGCLASSIFIER ALGORITHM</h2>
    <form method="Post" action="/predict">
    <p>Department</p>
    <input name="D" required>
    <p>Region</p>
    <input name="R" required>
    <p>Education</p>
    <input name="E" required>
    <p>Gender</p>
    <input name="G" required>
    <p>Recruitment_Channel</p>
    <input name="RC" required>
    <p>No_of_Trainings</p>
    <input name="T" required>
    <p>Age</p>
    <input name="A" required>
    <p>Previous_Year_Rating</p>
    <input name="PYR" required>
    <p>Length_of_Service </p>
    <input name="LOS" required>
    <p>KPIs_met >80%</p>
    <input name="KPI" required>
    <p>Awards_Won</p>
    <input name="AW" required>
    <p>Avg_Training_Score</p>
    <input name="AVS" required>
    <br>
    <br>
    <button type="submit" >Submit</button>
    </form>
</body>
</html>